.keyword {
    -fx-fill: -fx-pico14;
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: -fx-pico13;
    -fx-font-style: italic;
}

.string {
    -fx-fill: -fx-pico12;
}

.number {
    -fx-fill: -fx-pico12;
}

.function {
    -fx-fill: -fx-pico11;
}

.default {
    -fx-fill: -fx-pico6;
}